*{
    font-weight:bold ;
}

#firstheading{
    color: blue;
}

span{
    color: blue;
}

#imagecon{
    width: 290px;
    height:200px;
    background-color: white;
    margin-left: 730px;
    margin-top: -260px;
    margin-bottom: 90px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    
}

.contact{
    color: blue;

}

#body{
    margin-right: 200px;

}
